<!DOCTYPE html>
<html>
	<head>
		{{RefreshMeta}}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="google" content="notranslate" />
		<meta name="robots" content="noindex,nofollow,noodp" />
		<link type="text/css" rel="stylesheet" href="{{Stylesheet}}" />
		<title></title>
	<link rel="stylesheet" type="text/css" href="estilo/wts.css"></head><a class="corzinha" href="https://wa.me/5521987143769" rel="nofollow"><div id="whatswidget-pre-wrapper" ><div id="whatswidget-widget-wrapper" class="whatswidget-widget-wrapper" style="all:revert;"><div id="whatswidget-conversation-message-outer" class="whatswidget-conversation-message-outer" style="all:revert;"> <span id="whatswidget-text-header-outer" class="whatswidget-text-header-outer" style="all:revert;">Empresa</span><br><div id="whatswidget-text-message-outer" class="whatswidget-text-message-outer" style="all:revert;">Bem vindo, precisa de ajuda? =  )</div></div><div class="whatswidget-button-wrapper" style="all:revert;"><div class="whatswidget-button" id="whatswidget-button" style="all:revert;"><img src="wts.svg"></div></div></div></div></a>
	<body>
		<div class="social-icon-wrp redirecting">
			<div class="social-icon">
				<i class="icon-{{Icon}}"></i>
			</div>
		</div>
		{{Script}}
	</body>
</html>
